In [1]:
import matplotlib.pyplot as plt
import wordcloud
from wordcloud import WordCloud

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Messi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from nltk.corpus import stopwords

In [4]:
# Scraping data from Twitter
query = "(from:elonmusk) until:2022-11-18 since:2010-01-01"
tweets = []

limit = 10000

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content, tweet.likeCount])

C:\Users\Messi\AppData\Local\Temp\ipykernel_20700\735970260.py:10: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content, tweet.likeCount])

In [5]:
#creating DataFrame
df = pd.DataFrame(tweets, columns= ['Date', 'User', 'Tweet', 'likeCount'])

In [6]:
df.head()

,Date,User,Tweet,likeCount
0,2022-11-17 23:34:38+00:00,elonmusk,@growing_daniel @micsolana ü§£,31566
1,2022-11-17 23:28:28+00:00,elonmusk,@EvaFoxU The media constantly writing about Tw...,94529
2,2022-11-17 20:28:52+00:00,elonmusk,@MinimalDuck @Tesla Cybertruck is something sp...,42035
3,2022-11-17 17:53:14+00:00,elonmusk,@heydave7 Current class-action law is actually...,11981
4,2022-11-17 17:50:20+00:00,elonmusk,@heydave7 The actual attackers in class-action...,13579

In [7]:
#tweet

In [8]:
# sorting values using word count
df = df.sort_values(by = "likeCount", ascending = False)
df

,Date,User,Tweet,likeCount
2723,2022-04-28 00:56:58+00:00,elonmusk,Next I‚Äôm buying Coca-Cola to put the cocaine b...,4763602
2747,2022-04-25 16:12:30+00:00,elonmusk,I hope that even my worst critics remain on Tw...,3218817
2720,2022-04-28 01:53:50+00:00,elonmusk,Let‚Äôs make Twitter maximum fun!,2639365
2746,2022-04-25 19:43:22+00:00,elonmusk,üöÄüí´‚ô•Ô∏è Yesss!!! ‚ô•Ô∏èüí´üöÄ https://t.co/0T9HzUHuh6,2597284
2719,2022-04-28 01:57:27+00:00,elonmusk,"Listen, I can‚Äôt do miracles ok https://t.co/z7...",2569573
...,...,...,...,...
8227,2020-07-04 16:42:56+00:00,elonmusk,@leighalexander You‚Äôre a good person,296
9350,2020-03-23 22:29:31+00:00,elonmusk,@RenataKonkoly @sdunbabin @jonkay @Quillette E...,260
9137,2020-04-16 04:20:46+00:00,elonmusk,@samoanpunch @cromas @Bob_Wachter Interesting,245
8250,2020-07-03 23:47:20+00:00,elonmusk,@EverydayElon @TeslaTested @teslaownersSV @kim...,243
8657,2020-05-15 17:02:35+00:00,elonmusk,@DanielleFong @ThieveryCorpDC Totally. Collect...,174

In [10]:
#split each word
splitted = df.Tweet.str.split()

In [11]:
# Flatten that word in Single dimension
flatten_list = sum(splitted, [])

In [13]:
len(flatten_list)

121109

In [14]:
# converting all words to lowercase
flatten_list = [word.lower() for word in flatten_list]

In [15]:
#stopwords.words('english')

In [16]:
# stop words from nltk
stop = stopwords.words('english')

In [17]:
#appending some word from wword
stop.append("&amp;")
stop.append("it‚Äôs")

In [20]:
#Removing stop words
flat_list = [word for word in flatten_list if word not in stop]

In [21]:
arr = pd.Series(flat_list)

In [22]:
arr_count = arr.value_counts()
arr_count

tesla             498
@ppathole         454
@wholemarsblog    449
@spacex           412
@teslaownerssv    397
                 ...
jewel               1
brandenburg!        1
@rice_fry           1
happen?             1
fear.               1
Length: 20886, dtype: int64

In [23]:
arr_count.head(20)

tesla              498
@ppathole          454
@wholemarsblog     449
@spacex            412
@teslaownerssv     397
@erdayastronaut    390
@tesla             356
@flcnhvy           285
good               282
much               280
would              275
ü§£                  261
great              256
‚Ä¶                  252
@billym2k          249
like               240
ü§£ü§£                 223
@teslarati         207
one                204
people             201
dtype: int64

In [24]:
wc = WordCloud(
background_color="white",
height = 720, width = 1080
)

In [25]:
wc.generate(str(arr))

In [26]:
wc.to_file("word_cloud.png")

In [27]:
wc.generate_from_frequencies(arr_count)

In [28]:
wc.to_file("word_cloud.png")